* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #CCC;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteiner{
    background-image:  linear-gradient( to bottom, #200D24, #5E1D69 );
    width: 900px;
    margin: auto;
    border-radius: 5px;
    text-align: center;

}

.header-tittle{
    padding: 10px;
    color: #FECD23;
    overflow: hidden;
}

.header-subtittle{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    padding: 10px 30px;   
}

.texto{
    padding: 10px;
}

.conteiner-intern{
    background-image:  linear-gradient( to top, #200D24, #5E1D69 );
    margin: auto;
    width: 750px;
    border-radius: 5px;
}

.tittle{
    color: #FFF; 
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    padding: 20px; 
}

.form{  
    display: block; 
    align-items: center;    
}

input{
    margin-bottom: 30px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 85%;
}

input:focus{
    outline: none;
}

.votos{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
}

.caixa-externa{
    background-image: linear-gradient(to bottom,#2637DA,#33298C);
    padding: 10px;
    border-radius: 5px;
}

.caixa-interna{
    background-image: linear-gradient(to bottom,#3D5EEE,#71CAFE);
    border-radius: 5px;
}

button{
    background-color: #1D0C20;
    color: #FFF;
    font-size: 15px;
    padding: 15px 35px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.texto-caixa{
    color: #FFF;
    padding: 20px;
    font-size: 30px;
}

.rodape{
    color: #FFF;
    padding: 10px;
}

@media screen and (max-width: 620px){

    .conteiner{
        width: 90%;
    }

    .conteiner-intern{
        width: 85%;
    }

    .header-subtittle{
        padding: 0;
    }

    .votos{
        flex-direction: column;
    }

    .texto{
        font-size: 15px;
    }
    
    .tittle{
        font-size: 25px;
    }

}
    


